.header_logo__ {
  max-width: 58px;
  max-height: 94px;
  display: block;
  z-index: 1;
  flex-basis: content;
  margin-inline-end: 85px;
  
  @include sm {
    max-width: 40px;
    max-height: 60px;
    margin-inline-end: 50px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}