.menu_button__ {
  display: none;

  @include sm {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($secondaryColor, 0.2);
    position: relative;
    color: $primaryColor;
    border-radius: 50%;

    svg {
      width: 20px;

      path {
        fill: #fff;
      }
    }
  }
}

.lang_link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.6rem;
  padding: 10px 0;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  flex-shrink: 0;
  transition: 0.5s;

  .icon__ {
    width: 20px;
    height: 20px;
    transition: 0.5s;
  }

  &:hover {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
  }
}

// large sizes

.toolbar_options__ {
  display: flex;
  align-items: center;
  padding: 0;
  // position: relative;
  z-index: 1;
  // margin-top: 10px;
  flex-wrap: nowrap;

  .block__ {
    transition: 0.5s;

    &.lang_list_item__ {
      @include sm {
        position: absolute;
        top: 15px;
        inset-inline-start: 15px;
      }
    }
  }
}

// small size
@include sm {
  .toolbar_options__ {
    // margin-top: 20px;
    width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;

    .block__ {
      &.lang__ {
        position: absolute;
        top: 20px;
        inset-inline-start: 20px;
      }
    }
  }
}
