.about_us_card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $secondaryColor;
    z-index: -1;
    border-radius: $mainBorderRadius;
  }
}