.home_slider_section {
  position: relative;
  overflow: hidden;

  .swiper-slide {
    position: relative;

    >.figure__ {
      background-color: $primaryColor;
      padding-bottom: 38.19444444%;
      
      @include sm {
        padding-bottom: 50vh;
      }

      
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000 , 0.6);
      z-index: 1;
    }
    
  }

  .slider_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    z-index: 2;

    @include xs {
      bottom: -90px;
      width: 100%;
      padding: 0 10px;
    }

    .title__ {
      font-size: 3rem;
      font-weight: 800;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
      line-height: 1.7;
      margin-bottom: 1.5rem;
      
      @include sm {
        font-size: 2.4rem;
        line-height: 1.3;
      }
    }

    .subtitle__ {
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
      line-height: 1.7;
      margin-bottom: 0.8rem;
      
      @include sm {
        font-size: 1.6rem;
        line-height: 1.3;
      }
    }

    .parag__ {
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 10px;

      @include xs {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    
    @include xs {
      bottom: 20px;
    }
  }

  .button__ {
    @include xs {
      height: 40px;
    }
  }
}

.about_sec__ {
  .sec_images_wrapper__ {
    position: relative;
    padding: 18px;

    @include sm {
      width: fit-content;
      margin: 0 auto;
    }

    @include xs {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      inset-inline-end: 0;
      border-width: 60px;
      border-color: transparent transparent $primaryColor $primaryColor;
      border-style: solid;
      z-index: -1;
    }
  }

  .img_wrapper__ {
    .figure__ {
      border-radius: $mainBorderRadius;
      overflow: hidden;
    }

    &.main__ {
      width: 379px;
      margin-inline-start: auto;

      @include xs {
        min-width: 100%;
        max-width: 100%;
      }

      .figure__ {
        padding-bottom: 103.69393%;
      }
    }

    &.second__ {
      width: 223px;
      position: absolute;
      bottom: 0;
      inset-inline-end: 266px;

      @include xs {
        inset-inline-start: 18px;
      }

      .figure__ {
        padding-bottom: 80.717488%;
        border: 3px solid $primaryColor;
      }

    }
  }

  .sec_title__ {
    font-size: 2.2rem;
    font-weight: 700;
    color: $headingMainColor;
    text-transform: capitalize;
    line-height: 171%;
    // margin-bottom: 0.5rem;
  }

  .sec_sub_title__ {
    font-size: 1.8rem;
    font-weight: 700;
    color: $secondaryColor;
    text-transform: capitalize;
    line-height: 171%;
    // margin-bottom: .5rem;
  }

  .parag__ {
    font-size: 1.8rem;
    font-weight: 300;
    color: $paragraphMainColor;
    text-transform: capitalize;
    line-height: 171%;
    margin-bottom: 1.5rem;
    max-width: 514px;
  }

  .about_us_sec_block_wrapper__ {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: 25px;
      inset-inline-start: 25px;
      width: 1px;
      height: 80%;
      // background-color: rgba($secondaryColor , 0.13);
      background-color: #EBF0F2;
      z-index: -1;
    }
  }
}

.ceo_speech_sec__ {
  background-color: $sectionBackgroundColor;
  overflow: hidden;

  .title__ {
    font-size: 3rem;
    font-weight: 700;
    color: $headingMainColor;
    text-transform: capitalize;
    line-height: 171%;
    margin-bottom: 2.3rem;
    
    @include xs {
      margin-bottom: 1.5rem;
    }
  }

  .subtitle__ {
    font-size: 2.2rem;
    font-weight: 400;
    color: $headingMainColor;
    line-height: 171%;
    margin-bottom: 1.5rem;
  }

  .parag__ {
    font-size: 1.8rem;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 252%;
    margin-bottom: 4rem;

    @include xs {
      line-height: 171%;
    }
  }

  .img_wrapper__ {
    position: relative;

    &::after {
      content: url('../images/shapes/ceo.png');
      position: absolute;
      top: 0;
      inset-inline-end: -77px;
      z-index: -1;
    }

    &.shape_position_start {
      &::after {
        inset-inline-end: calc(100% - 140px);
        transform: scaleX(-1);
      }
    }
  }
  
  .figure__ {
    padding-bottom: 61.3861%;
    border-radius: $mainBorderRadius;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primaryColor , 0.26);
      z-index: 1;
      transition: 0.5s;
    }
  }

  .pointed_text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.7rem;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 171%;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.our_partners_sec__,
.our_partners_page__ {
  .partners_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
  }
}

.certificates_sec__ {
  background-color: $sectionBackgroundColor;
}

.download_sec {
  .sec_content__ { 
    background: linear-gradient(207.062deg, $primaryColor 0%, $secondaryColor 190%);
    border-radius: $mainBorderRadius;
    padding: 30px;
    position: relative;
    margin-top: 100px;
    
    &::after {
      content: url(../images/shapes/download_sec_shape.png);
      position: absolute;
      top: -100px;
      inset-inline-end: 0;
      z-index: -1;
    }
  }
  
  .figure__ {
    @include sm {
      width: fit-content;
     margin: 0 auto;
    }
  }
  
  .title__ {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 282%;
    margin-bottom: 4.1rem;
    
    @include sm {
      font-size: 2.2rem;
      line-height: 171%;
      margin-bottom: 2.5rem;
    }
    
    @include xs {
      font-size: 1.8rem;
    }
  }
}

.branch_sec{
  background-color: $sectionBackgroundColor;

  .branch_cards_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    flex-wrap: wrap;
  }
}

.contact_sec,
.contact_page {
  .figure__ {
    padding-bottom: 85.825242%;
  }

  .img_wrapper__ {
    padding: 30px;
  }
}