.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: rgba($primaryColor, 1);
  padding: 5.0rem 0 5.5rem;
  overflow: hidden;

  &::after {
    content: url(../images/shapes/footer_shape.svg);
    position: absolute;
    bottom: -2px;
    inset-inline-end: 0;
  }
}

.footer_logo_link__ {
  width: fit-content;
  display: block;
  
  @include sm {
    margin: 0 auto;
  }
}

.footer_logo__ {
  margin-bottom: 15px;
  max-width: 84px;
  max-height: 136px;
  min-width: 84px;
  min-height: 136px;

}

.footer_desc__ {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  // width: 278px  ;
  line-height: 220%;

  @include sm {
    text-align: center;
  }
}

.footer_head__ {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  
    @include sm {
      text-align: center;
    }
}

.footer_list__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 15px;
  margin-bottom: 40px;
  padding: 0;

  @include xs {
    gap: 10px;
  }

  a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 15px;

    @include sm {
      margin: 0 auto;
    }

    img {
      max-width: 15px;
      max-height: 15px;
    }

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: radial-gradient(circle at center, #7EABBB 0%, #7EABBB 30%, #fff 30%) ;
      transition: 0.5s;
    }

    &:hover {
      opacity: 0.8;
      color: $secondaryColor;

      &::before {
        background-color: $secondaryColor;
      }
    }
  }
}

.footer_socials__ {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33px, 1fr));
  gap: 1.2rem;
  max-width: 123px;

  @include sm {
    max-width: 100%;
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid rgba(#fff, 1);
    border-radius: 50%;
    padding: 8px;

    @include sm {
      margin: 0 auto;
    }

    img {
      filter: none;
    }

    &:hover {
      background-color: rgba(#fff, 1);

      img {
        filter: brightness(0) !important;
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  color: #fff;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  border: 0;

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }

  @include xxs {
    font-size: 8px;
  }

  .copyright_icon__,
  .copyright_logo__ {
    filter: brightness(0) invert(1);
  }

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}
