@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.fixed_header__ {
  position: relative;
  background-color: $primaryColor;
  z-index: 111;
  padding: 15px 0 10px 0;
  height: 120px;

  @include sm {
    padding: 15px 0;
    height: fit-content;
  }

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transition: 0s;
  }

  &.active_menu__ {
    animation: active-menu 0.5s;
    padding: 10px 0;
  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }
}

.header_content__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
