// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondaryColor;
  border: 1px solid $secondaryColor;
  border-radius: 50%;
  transition: 0.5s;
  overflow: hidden;

  &.swiper-button-disabled {
    background-color: #fff;
    opacity: 1;

    &::after {
      filter: unset;
    }
    
  }

  &::after {
    content: url("../images/shapes/arrow-right.svg") !important;
    display: block;
    position: static;
    height: 62px;
    width: 5px;
    transform: unset;
    filter: brightness(0) invert(1);
    transform: rotateY(180deg);

    @include dir {
      transform: unset;
    }
  }

  &:hover {
    background-color: $secondaryColor;

    &::after {
      filter: brightness(0) invert(1);
    }
  }
}

.swiper-button-next {
  &::after {
    transform: unset;
    
    @include dir {
      transform: rotateY(180deg);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  gap: 1px;

  &.intro_swiper_pagination {
    position: absolute !important;
    top: calc(100% - 117px) !important;
    inset-inline-start: 124px !important;
    width: fit-content;
    flex-wrap: wrap;
    max-width: 40%;
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  position: relative;
  margin: 0;
  border-radius: 1px !important;
  background-color: transparent;
  height: 4px !important;
  width: 8px !important;
  background-color: #fff;
  margin-top: 20px;
  opacity: 0.32;
  transition: 0.5s;
  
  &.swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    height: 4px !important;
    width: 16px !important;
    opacity: 1;
  }
}

// ###################################################################

.arrow-sec {
  display: flex;
  align-items: center;

  .swiper-button-prev,
  .swiper-button-next {
    transform: unset;
    margin: 0;
    position: static;
    margin-inline-start: 16px;
    flex-shrink: 0;
  }

  &.center {
    justify-content: center;
  }

  &.with_margin_top {
    margin-top: 2.2rem;
  }

  &.with_margin_bottom {
    margin-bottom: 2.2rem;
  }
}
