// Almarai Fonts
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}