.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }
  

  &.fixed_size__ {
    width: 140px !important;
  }

  &.main__ {
    height: 46px;
    color: #fff;
    padding: 0 30px;
    font-size: 1.4rem;
    background: $primaryColor;
    border-color: $primaryColor;
    border-radius: $mainBorderRadius;
    
    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.second__ {
    height: 46px;
    color: #fff;
    padding: 0 30px;
    font-size: 1.4rem;
    background: $secondaryColor;
    border-color: $secondaryColor;
    border-radius: $mainBorderRadius;
    
    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }
  }
  
  &.second_color_link__ {
    height: 46px;
    border-radius: $mainBorderRadius;
    padding: 0 30px;
    background-color: $secondaryColor;
    color: #fff;
    
    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;
      border: 1px solid $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }
  
  &.out_line__ {
    background-color: transparent !important;
    border: 1px solid transparent;
    color: transparent;
    padding: 0 30px;
    height: 46px;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba(#fff, 0.2) !important;
    }

    &.white__ {
      border-color: #fff !important;
      color: #fff !important;
    }

    &.main__ {
      border-color: $primaryColor !important;
      color: $primaryColor !important;

      
    &:hover {
      background-color: rgba($primaryColor, 0.2) !important;
    }
    }

    &.second__ {
      border-color: $secondaryColor !important;
      color: $secondaryColor !important;

      &:hover {
        background-color: rgba($secondaryColor, 0.2) !important;
      }
    }
  }

  &.white__ {
    color: #fff;
    background-color: #fff;
    border: 1px solid #fff;

    &:hover {
      background-color: rgba(#fff, 0.1);
    }
  }

  &.hero_link__ {
    img {
      @include dir {
        transform: rotate(180deg);
      }
    }
  }

  &.ceo_speech_link__ {
    min-width: 250px;
    img {
      @include dir {
        transform: rotate(180deg);
      }
    }
  }


  &.branch_link__ {
    color: $headingMainColor;
    font-size: 1.6rem;

    &:hover {
      color: $secondaryColor;
      text-decoration: underline;
    }

  }

  &.contact_link__ {
    background-color: rgba($secondaryColor, 0.19);
    border-radius: $thirdBorderRadius;
    padding: 0;
    justify-content: flex-start;
    height: fit-content;
    padding-inline-end: 40px;
    min-width: 295px;

    .icon__ {
      width: 78px;
      height: 78px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $secondaryColor;
      margin: 0;
    }

    .title__ {
      font-size: 1.8rem;
      font-weight: 400;
      color: $headingMainColor;
      margin: 0;
      margin-bottom: 10px;

      @include sm {
        font-size: 1.6rem;
      }
    }

    .sub_title__ {
      font-size: 1.4rem;
      font-weight: 700;
      color: $headingMainColor;
      margin: 0;
      margin-inline-start: 20px;
      direction: ltr;
    }

    &:hover {
      background-color: rgba($secondaryColor, 0.35);
    }
  }
  
}
