// Main colors
$primaryColor: #121212;
$secondaryColor: #7EABBB;

$sectionBackgroundColor: rgba(#F5F5F5 , 0.6);
$greyColor: rgba(#9B9B9B , 0.16);
$greenColor: #00CC30;
$secondGreyColor: #9B9B9B;
$mainRedColor: #F0053C;
$orangeColor: #EFB104;

$borderColor: rgba(#363443 , 0.28);
$mainBackgroundColor: #f2f3fc;
$borderBreakColor: #d9e0e5;

// Head colors
$headingMainColor: #121212;
$headingSecondaryColor: #394444;
$headingThirdColor: #17355A;

// Paragraph Colors
$paragraphMainColor: #828181;
$paragraphSecondaryColor: #9B9B9B;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 8px;
$secondaryBorderRadius: 36px;
$thirdBorderRadius: 40px;

$dir: "ltr";
