.about_us_sec_block {
  display: flex;
  align-items: center;
  gap: 30px;

  .icon__ {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // background-color: rgba($secondaryColor , 0.23);
    background-color: #EBF0F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
    text-transform: capitalize;
    line-height: 171%;
    margin-bottom: 0.2rem;
  }

  .parag__ {
    font-size: 1.4rem !important;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 155%;
  }
}