.about_us_card {
  background-color: #fff;
  border-radius: $mainBorderRadius;
  padding: 30px;
  transition: 0.5s;
  box-shadow: 0 4px 4px 3px rgba(#000, 0.03);

  .number_wrapper__ {
    width: fit-content;
    padding: 10px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/shapes/about_sec_shapes/number_wrapper_background.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .number__ {
    font-size: 3rem;
    font-weight: 700;
    color: $secondaryColor;
  }

  h3.title__ {
    font-size: 2rem;
    font-weight: 700;
    color: $headingMainColor;
    text-transform: capitalize;
    text-align: center;
    line-height: 171%;
    margin-bottom: 1rem;
  }

  p.parag__ {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 155%;
  }
}
