.branch_card {
  width: fit-content;

  .icon__ {
    margin-bottom: 2rem;
  }

  .title__ {
    font-size: 2rem;
    font-weight: 700;
    color: $headingMainColor;
    text-transform: capitalize;
    text-align: center;
    line-height: 171%;
    margin-bottom: 1.5rem;
  }
  
  .parag__ {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 155%;
    margin-bottom: 1.5rem;
  }
}