.certificate_card {
  padding: 17px 15px;
  background-color: #fff;
  border-radius: $mainBorderRadius;

  &.grey_background__ { 
    background-color: $sectionBackgroundColor;
  }
  
  .figure__ {
    padding-bottom: 60.2702%;
    border-radius: $mainBorderRadius;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
    text-transform: capitalize;
    line-height: 171%;
    margin-bottom: 1rem;
  }

  p.parag__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    line-height: 195%;
  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }
  }
}