.section_main_title__ {
  font-size: 3rem;
  font-weight: 700;
  width: fit-content;
  color: $primaryColor;
  margin-bottom: 10px;
  position: relative;

  &.none_margin {
    margin-bottom: 0;
  }

  &.small_margin_bottom__ {
    margin-bottom: 15px;
  }

  &::before {
    content: url(../images/shapes/section_heading_shape.svg);
    position: absolute;
    inset-inline-start: -55px;
    top: -45px;
    width: 84px;
    height: 84px;

    @include dir {
      transform: scaleX(-1);
    }
  }
}

.section_sub_title__ {
  font-size: 1.8rem;
  font-weight: 400;
  color: $paragraphSecondaryColor;
  margin: 0;
}

.section_head_wrapper {
  margin-bottom: 40px;

  @include sm {
    margin-bottom: 25px;
  }

  @include xs {
    margin-bottom: 20px;
  }

  &.center {
    .section_main_title__,
    .section_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }
  }

  &.white_color__ {
    .section_main_title__,
    .section_sub_title__ {
      color: #fff;

      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}
