.partner_card__ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  border: 1px solid $borderColor;
  border-radius: $mainBorderRadius;
  transition: 0.5s;
  padding: 31px;
  background-color: #fff;

  .figure__ {
    max-width: 100px;
    max-height: 100px;
  }

  &:hover {
    border-color: $secondaryColor;
    box-shadow: 0 0 40px 0 rgba($secondaryColor, 0.15);

    .img-om {
      transform: scale(1.1);
    }
  }
}