.rest_assured_block {
  display: flex;

  @include sm {
    flex-direction: column !important;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  
  
  .img_wrapper__ {
    width: 50%;
    height: 100%;

    @include sm {
      width: 100%;
    }
  }
  
  .figure__ {
    padding-bottom: 47.9740%;
    
    @include md {
      padding-bottom: 57.9740%;
    }
  }

  .rest_assured_content_wrapper {
    background-color: $secondaryColor;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include sm {
      width: 100%;
      padding: 15px;
    }
  }

  .title__ {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.8rem;
  }

  .parag__ {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: 217%;
  }
}