.service_card__ {
  position: relative;
  overflow: hidden;
  min-height: 366px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primaryColor , 0.7);
    z-index: 1;
    transition: 0.5s;
  }

  .figure__ {
    padding-bottom: 91.5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .content_wrapper__ {
    position: relative;
    z-index: 10;
  }

  .title__ {
    color: #fff;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 800;
    line-height: 171%;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
  }

  .parag__ {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 171%;
  }

  &:hover {
    .img-om {
      transform: scale(1.1) rotate(5deg);
    }
  }
}
